{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="padding-bottom: 10px">
        <h3>Mon profil {{ user.fullname }}</h3>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group text-center mt-2">
            <button type="submit" class="btn btn-primary btn-lg btn-block w-100" onclick="this.form.submit();">
                Modifier
            </button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block title %}
Mon profil {{ user.fullname }}
{% endblock %}

