{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <div class="container" style="padding-bottom: 10px">
        <div class="row">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        </div>
        <h2>Connexion</h2>

        <div style="width: 80%; margin: auto">
            <form method="post" action="{{ action|default('') }}">
                {% if csrf_token_intention|default(false) %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token(csrf_token_intention) }}">
                {% endif %}

                <div class="form-group">
                    <label class="form-control-label required" for="username">Email</label>
                    <div class="form-widget">
                        <input type="email" id="username" name="_username" class="form-control" value="{{ last_username|default('') }}" required autofocus autocomplete="username">
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label required" for="password">Mot de passe</label>
                    <div class="form-widget">
                        <input type="password" id="password" name="_password" class="form-control" required autocomplete="current-password">
                    </div>
                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" onclick="this.form.submit();">Connectez vous</button>
                </div>
            </form>

            <div class="form-group">
                <a href="{{ path('account_register') }}">Pas encore inscrit ?</a>
            </div>
        </div>

    </div>
{% endblock %}