<!-- Footer Section -->
{% block footer %}
<footer id="footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4  col-sm-4">
                <h3>Scouts et Guides de France</h3>
                <p>Les Scouts et Guides de France sont un mouvement catholique de jeunesse et d'éducation populaire. L'association est accueillante pour toutes et tous, sans distinction de nationalité, de culture, d'origine sociale ou de croyance.</p>
                <a href="https://www.sgdf.fr"><img class="img-responsive sgdf text-center d-block" src="/images/SGDF_logo_RVB_vertical_lowres.png" alt=""></a>
            </div>

            <div class="col-md-4  col-sm-4">
                <h3>{{ custom.title }}</h3>
                <p>{{ custom.description | raw}}</p>
                <div class="footer-copyright">
                    <p>Copyright &copy; 2020 {{ custom.title }} - Design: <a href="https://www.tooplate.com/">Tooplate</a> </p>
                </div>
            </div>

            <div class="col-md-4  col-sm-4">
                <h3>Nous contacter</h3>
                <p>Sur nos réseaux sociaux</p>
                <p><i class="fa fa-mail-forward"></i> {{ custom.email }}</p>
            </div>



            <div class="col-md-12 col-sm-12">
                <ul class="social-icon">
                    {% if custom.facebook %}
                    <li><a href="{{ custom.facebook }}" class="fa fa-facebook"></a></li>
                    {% endif %}
                    {% if custom.insta %}
                    <li><a href="{{ custom.insta }}" class="fa fa-instagram"></a></li>
                    {% endif %}
                </ul>
            </div>

        </div>
        <div class="center">Développé par Baptiste Buvron</div>
    </div>
</footer>

<a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>
{% endblock %}