{% extends 'base.html.twig' %}

{% block body %}



    <!-- Home Section -->

    <section id="home" class="main-home parallax-section">
        <div class="overlay"></div>
        <div id="particles-js"></div>
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <h1>Rillettes forts et verts</h1>
                    <h4>Equipe compagnon de la 14e Le Mans</h4>
                    <a href="#blog" class="smoothScroll btn btn-default">Découvrir</a>
                </div>

            </div>
        </div>
    </section>

    <!-- Blog Section -->

    <section id="blog">
        <div class="container">
            <div class="row">

                {% for article in articles %}

                <div class="col-md-offset-1 col-md-10 col-sm-12">



                    <div class="blog-post-thumb">
                        <div class="blog-post-image">
                            <a href="{{ path('article.show', {slug : article.slug, id : article.id}) }}">
                                {% if article.imageName %}
                                    <img src="{{ vich_uploader_asset(article, 'imageFile') }}" class="img-responsive center" alt="Blog Image">
                                {% else %}
                                    <img src="/images/articles/default.jpg" class="img-responsive center" alt="Blog Image">
                                {% endif %}
                            </a>
                        </div>
                        <div class="blog-post-title">
                            <h3><a href="{{ path('article.show', {slug : article.slug, id : article.id}) }}">{{ article.title }}</a></h3>
                        </div>
                        <div class="blog-post-format">
                            <span><img src="images/administrateur-homme.png" class="img-responsive img-circle"> Les Rillettes Forts et Verts,</span>
                            <span>publié {{ article.updatedAt | ago }}</span>
                        </div>
                        <div class="blog-post-des">
                            <p>{{ article.introduction | raw }}</p>
                            <a href="{{ path('article.show', {slug : article.slug, id : article.id}) }}" class="btn btn-default">Lire la suite</a>
                        </div>
                    </div>
                </div>

                    {% endfor %}




                </div>
            </div>
    </section>




{% endblock %}