{% extends 'base.html.twig' %}

{% block title %} {{ article.title }} {% endblock %}

{% block body %}

    <!-- Home Section -->

    <section id="home" class="main-single-post parallax-section" style="background: url({% if article.imageName %} {{ vich_uploader_asset(article, 'imageFile')}} {% else %} '/images/home-bg.jpg' {% endif %}">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12 position-relative">
                    <h1>{{ article.title }}</h1>
                </div>

            </div>
        </div>
    </section>

    <!-- Blog Single Post Section -->

    <section id="blog-single-post">
        <div class="container">
            <div class="row">

                <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <div class="blog-single-post-thumb">


                        <div class="blog-post-title">
                            <h2>{{ article.title }}</h2>
                        </div>

                        <div class="blog-post-format">
                            <span><img src="/images/administrateur-homme.png" class="img-responsive img-circle">{{ custom.title }},</span>
                            <span> {{ article.publishedAt | ago }}</span>
                            {% if article.galleries.count > 0 %}
                            <a href="{{ path('galerie.show', {id: article.id , slug: article.slug })}}" class="btn btn-default">Album photo</a>
                            {% endif %}
                        </div>

                        <div class="blog-post-des">{{ article.content | raw }}</div>



                        <div class="blog-comment-form">
                            <h3>Laisser un commentaire</h3>


                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <div class="col-md-3 col-sm-4">
                                    <button type="submit" class="btn" style="background-color: #003a5d; color: white; border-radius: 100px;border: none;" id="submit">Poster votre commentaire</button>
                            </div>
                            {{ form_end(form) }}
                        </div>


                        {% if comments.count > 0 %}
                        <div class="blog-comment">
                            <h3>Commentaires</h3>
                            {% for comment in comments %}
                            <div class="media">
                                <div class="media-object pull-left">
                                    <img src="/images/default-avatar.png" class="img-responsive img-circle" alt="Blog Image 11">
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading">{{ comment.author.fullname }}</h3>
                                    <span>{{ comment.publishedAt | ago }}</span>
                                    <p>{{ comment.content | raw }}</p>
                                    {% if comment.author ==  app.user or is_granted('ROLE_ADMIN') %}
                                    <form action="{{ path('comment.delete', {id: comment.id}) }}" method="post">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
                                        <button type="submit" class="btn btn-danger">Supprimer</button>
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="center">
                            {{ knp_pagination_render(comments) }}
                        </div>


                    </div>
                </div>
            </div>
            </div>
    </section>

{% endblock %}